# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Prisma
prisma/migrations/dev.db
prisma/migrations/dev.db-journal
*.db
*.db-journal

# Logs
logs/
*.log
npm-debug.log*

# Test coverage
coverage/

# NestJS
.nestjs/

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
